@model CoreApplication.Models.USERDATA
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <form asp-action="Save_user" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Name</label>
        <input class="form-control" type="text" asp-for="Name" id="formFile">
    </div>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Email</label>
        <input class="form-control" type="email" asp-for="Email" id="formFileMultiple" multiple>
    </div>
    <div class="mb-3">
        <label for="formFileDisabled" class="form-label">Password</label>
        <input class="form-control" type="password" asp-for="Password" >
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">File</label>
        <input class="form-control form-control-sm" name="Image" id="formFileSm" type="file">
    </div>
    <div>
        <label for="formFileLg" class="form-label">Address</label>
        <textarea class="form-control" asp-for="Address" id="formFileLg" type="text"></textarea>
    </div>
    <input type="submit" value="submit" />
    </form>
</div>

